<div id ="issues">
    <div class="container">  
        <!-- write logic to ngFor Directive to display all issues-->
    <div class="row" *ngFor="let issue of issuesList" style="display: inline-flex;">
      <div class="column">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">{{ issue.title }}</h4>
                <div class="card-text">{{ issue.description }}</div>
            </div>
            
            <!-- write logic to call deleteIssue method by passing issue id on click of button -->
            <button (click)=deleteIssue(issue.id)>Delete</button>
        </div>            
    </div>
</div>
    