<!-- header starts -->

<div id="header">
  <ul class="topnav" routerLinkActive="active">
    <li>
      <a href="/addissue"  routerLink="addissue">Add Issue</a>
    </li>
    <li>
      <a href="/issueslist"  routerLink="issueslist">All Issues</a>
    </li>
  </ul>

  <router-outlet></router-outlet>
</div>
<!-- header ends -->

<!-- Add router outlet to enable routing of all components -->
